In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# train_data = pd.read_csv("E:/COLUMBIA MS/FALL 2023/AML - Vijay Pappu/AML PROJECT/train_data.csv", chunksize = 100000)
# train_labels = pd.read_csv("E:/COLUMBIA MS/FALL 2023/AML - Vijay Pappu/AML PROJECT/train_labels.csv")

### Converting datatypes of columns to int32, int16, and int8 (where possible)

In [3]:
train_data = pd.read_csv("E:/COLUMBIA MS/FALL 2023/AML - Vijay Pappu/AML PROJECT/train_data.csv", chunksize = 100000)
train_labels = pd.read_csv("E:/COLUMBIA MS/FALL 2023/AML - Vijay Pappu/AML PROJECT/train_labels.csv")
df2 = pd.DataFrame()
for df in train_data:
    cols = ['customer_ID', 'S_2', 'B_30', 'B_38', 'D_63', 'D_64', 'D_66', 'D_68', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126']
    df['customer_ID'] = df['customer_ID'].apply(lambda x: int(x[-16:],16) ).astype('int32')
    df['S_2'] = pd.to_datetime(df['S_2'])
    df['B_30'] = df['B_30'].fillna(-1).astype('int8')
    df['B_38'] = df['B_38'].fillna(-1).astype('int8')
    df['D_63'] = df['D_63'].astype('category').cat.codes.astype('int8')
    df['D_64'] = df['D_64'].astype('category').cat.codes.astype('int8')
    df['D_66'] = df['D_66'].astype('category').cat.codes.astype('int8')
    df['D_68'] = df['D_68'].astype('category').cat.codes.astype('int8')
    df['D_114'] = df['D_114'].fillna(-1).astype('int8')
    df['D_116'] = df['D_116'].fillna(-1).astype('int8')
    df['D_117'] = df['D_117'].fillna(-1).astype('int8')
    df['D_120'] = df['D_120'].fillna(-1).astype('int8')
    df['D_126'] = df['D_126'].fillna(-1).astype('int8')
    for c in df.columns:
        if c not in cols:
            df[c] = df[c].fillna(-1).astype('int16')
#     print("here")
    df2 = pd.concat([df2, df])

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5531451 entries, 0 to 5531450
Columns: 190 entries, customer_ID to D_145
dtypes: datetime64[ns](1), int16(177), int32(1), int8(11)
memory usage: 1.9 GB

In [5]:
df2.sample(5)

,customer_ID,S_2,P_2,D_39,B_1,B_2,R_1,S_3,D_41,B_3,...,D_136,D_137,D_138,D_139,D_140,D_141,D_142,D_143,D_144,D_145
1278831,-1607926392,2018-02-10,0,0,0,0,0,0,0,0,...,-1,-1,-1,0,0,0,-1,0,0,0
2585212,-126383744,2018-03-23,0,0,0,0,0,-1,0,0,...,-1,-1,-1,0,0,0,-1,0,0,0
5400717,-1019104863,2017-07-16,0,0,0,1,0,0,0,0,...,-1,-1,-1,1,0,0,0,1,0,0
1963659,1645201032,2017-12-13,0,0,0,1,0,0,0,0,...,-1,-1,-1,0,0,0,-1,0,0,0
3495935,865710414,2017-11-02,0,0,0,0,0,0,0,0,...,-1,-1,-1,0,0,0,-1,0,0,0

In [6]:
train_labels.sample(5)

                                              customer_ID  target
87151   30812ddc387c7e16b2a049ea4c62d2e1e0b879675a8640...       0
218775  79c4940bc1e7ff05b8a18672e457b5e407459d72f6debc...       0
274857  990e2413e493cfe362cb4c81ba88fb5daf23e211f3a163...       0
320347  b267be8098a1279b53f021fb3b256e05935a994e520226...       0
242688  8719044e57273158b02257350650441a42877202ecf2fc...       1

In [7]:
print("Total number of rows in train_data : ", len(df2))
print("Total number of unique customers in train_data : ", len(df2['customer_ID'].unique()))

Total number of rows in train_data :  5531451
Total number of unique customers in train_data :  458884

In [15]:
len(train_labels)

458913

### Extracting Numeric Columns to apply min, max, mean, std aggregate functions

In [8]:
cat_cols = ['B_30', 'B_38', 'D_114', 'D_116', 'D_117', 'D_120', 'D_126', 'D_63', 'D_64', 'D_66', 'D_68']
time_col = ['S_2']
id_col = ['customer_ID']
numeric_cols = []
for col in df2.columns:
    if col not in cat_cols and col not in time_col and col not in id_col:
        numeric_cols.append(col)

print(len(numeric_cols))

177

In [9]:
columns_to_aggregate = numeric_cols 

# Define aggregation functions for each column
aggregation_functions = {
    col: ['mean', 'std', 'min', 'max'] for col in columns_to_aggregate
}

# Group by 'customer_id' and apply the aggregation functions
aggregated_df = df2.groupby('customer_ID').agg(aggregation_functions).reset_index()

# Rename columns for clarity
aggregated_df.columns = [f'{col}_{agg}' for col, agg in aggregated_df.columns]

In [10]:
aggregated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458884 entries, 0 to 458883
Columns: 709 entries, customer_ID_ to D_145_max
dtypes: float64(354), int16(354), int32(1)
memory usage: 1.5 GB

In [11]:
aggregated_df.columns
aggregated_df.rename(columns={'customer_ID_': 'customer_ID'}, inplace=True)
train_labels['customer_ID'] =train_labels['customer_ID'].apply(lambda x: int(x[-16:],16) ).astype('int32')
len(aggregated_df['customer_ID'].unique())

458884

### Merging the train_data and train_labels data frames; exporting to csv

In [12]:
merged_df = pd.merge(aggregated_df, train_labels, on='customer_ID')

In [13]:
merged_df.columns

Index(['customer_ID', 'P_2_mean', 'P_2_std', 'P_2_min', 'P_2_max', 'D_39_mean',
       'D_39_std', 'D_39_min', 'D_39_max', 'B_1_mean',
       ...
       'D_143_max', 'D_144_mean', 'D_144_std', 'D_144_min', 'D_144_max',
       'D_145_mean', 'D_145_std', 'D_145_min', 'D_145_max', 'target'],
      dtype='object', length=710)

In [31]:
merged_df.to_csv("E:/COLUMBIA MS/FALL 2023/AML - Vijay Pappu/AML PROJECT/condensed_train_data.csv")

### Storing the data types of all the columns in the final data frame as they will be needed to read the new csv

In [29]:
data_types = {}
for col in merged_df.columns:
    d_type = str(type(merged_df[col][1]))
    d_type = d_type[14:-2]
    data_types[col] = d_type

print(data_types)

{'customer_ID': 'int32', 'P_2_mean': 'float64', 'P_2_std': 'float64', 'P_2_min': 'int16', 'P_2_max': 'int16', 'D_39_mean': 'float64', 'D_39_std': 'float64', 'D_39_min': 'int16', 'D_39_max': 'int16', 'B_1_mean': 'float64', 'B_1_std': 'float64', 'B_1_min': 'int16', 'B_1_max': 'int16', 'B_2_mean': 'float64', 'B_2_std': 'float64', 'B_2_min': 'int16', 'B_2_max': 'int16', 'R_1_mean': 'float64', 'R_1_std': 'float64', 'R_1_min': 'int16', 'R_1_max': 'int16', 'S_3_mean': 'float64', 'S_3_std': 'float64', 'S_3_min': 'int16', 'S_3_max': 'int16', 'D_41_mean': 'float64', 'D_41_std': 'float64', 'D_41_min': 'int16', 'D_41_max': 'int16', 'B_3_mean': 'float64', 'B_3_std': 'float64', 'B_3_min': 'int16', 'B_3_max': 'int16', 'D_42_mean': 'float64', 'D_42_std': 'float64', 'D_42_min': 'int16', 'D_42_max': 'int16', 'D_43_mean': 'float64', 'D_43_std': 'float64', 'D_43_min': 'int16', 'D_43_max': 'int16', 'D_44_mean': 'float64', 'D_44_std': 'float64', 'D_44_min': 'int16', 'D_44_max': 'int16', 'B_4_mean': 'float64', 'B_4_std': 'float64', 'B_4_min': 'int16', 'B_4_max': 'int16', 'D_45_mean': 'float64', 'D_45_std': 'float64', 'D_45_min': 'int16', 'D_45_max': 'int16', 'B_5_mean': 'float64', 'B_5_std': 'float64', 'B_5_min': 'int16', 'B_5_max': 'int16', 'R_2_mean': 'float64', 'R_2_std': 'float64', 'R_2_min': 'int16', 'R_2_max': 'int16', 'D_46_mean': 'float64', 'D_46_std': 'float64', 'D_46_min': 'int16', 'D_46_max': 'int16', 'D_47_mean': 'float64', 'D_47_std': 'float64', 'D_47_min': 'int16', 'D_47_max': 'int16', 'D_48_mean': 'float64', 'D_48_std': 'float64', 'D_48_min': 'int16', 'D_48_max': 'int16', 'D_49_mean': 'float64', 'D_49_std': 'float64', 'D_49_min': 'int16', 'D_49_max': 'int16', 'B_6_mean': 'float64', 'B_6_std': 'float64', 'B_6_min': 'int16', 'B_6_max': 'int16', 'B_7_mean': 'float64', 'B_7_std': 'float64', 'B_7_min': 'int16', 'B_7_max': 'int16', 'B_8_mean': 'float64', 'B_8_std': 'float64', 'B_8_min': 'int16', 'B_8_max': 'int16', 'D_50_mean': 'float64', 'D_50_std': 'float64', 'D_50_min': 'int16', 'D_50_max': 'int16', 'D_51_mean': 'float64', 'D_51_std': 'float64', 'D_51_min': 'int16', 'D_51_max': 'int16', 'B_9_mean': 'float64', 'B_9_std': 'float64', 'B_9_min': 'int16', 'B_9_max': 'int16', 'R_3_mean': 'float64', 'R_3_std': 'float64', 'R_3_min': 'int16', 'R_3_max': 'int16', 'D_52_mean': 'float64', 'D_52_std': 'float64', 'D_52_min': 'int16', 'D_52_max': 'int16', 'P_3_mean': 'float64', 'P_3_std': 'float64', 'P_3_min': 'int16', 'P_3_max': 'int16', 'B_10_mean': 'float64', 'B_10_std': 'float64', 'B_10_min': 'int16', 'B_10_max': 'int16', 'D_53_mean': 'float64', 'D_53_std': 'float64', 'D_53_min': 'int16', 'D_53_max': 'int16', 'S_5_mean': 'float64', 'S_5_std': 'float64', 'S_5_min': 'int16', 'S_5_max': 'int16', 'B_11_mean': 'float64', 'B_11_std': 'float64', 'B_11_min': 'int16', 'B_11_max': 'int16', 'S_6_mean': 'float64', 'S_6_std': 'float64', 'S_6_min': 'int16', 'S_6_max': 'int16', 'D_54_mean': 'float64', 'D_54_std': 'float64', 'D_54_min': 'int16', 'D_54_max': 'int16', 'R_4_mean': 'float64', 'R_4_std': 'float64', 'R_4_min': 'int16', 'R_4_max': 'int16', 'S_7_mean': 'float64', 'S_7_std': 'float64', 'S_7_min': 'int16', 'S_7_max': 'int16', 'B_12_mean': 'float64', 'B_12_std': 'float64', 'B_12_min': 'int16', 'B_12_max': 'int16', 'S_8_mean': 'float64', 'S_8_std': 'float64', 'S_8_min': 'int16', 'S_8_max': 'int16', 'D_55_mean': 'float64', 'D_55_std': 'float64', 'D_55_min': 'int16', 'D_55_max': 'int16', 'D_56_mean': 'float64', 'D_56_std': 'float64', 'D_56_min': 'int16', 'D_56_max': 'int16', 'B_13_mean': 'float64', 'B_13_std': 'float64', 'B_13_min': 'int16', 'B_13_max': 'int16', 'R_5_mean': 'float64', 'R_5_std': 'float64', 'R_5_min': 'int16', 'R_5_max': 'int16', 'D_58_mean': 'float64', 'D_58_std': 'float64', 'D_58_min': 'int16', 'D_58_max': 'int16', 'S_9_mean': 'float64', 'S_9_std': 'float64', 'S_9_min': 'int16', 'S_9_max': 'int16', 'B_14_mean': 'float64', 'B_14_std': 'float64', 'B_14_min': 'int16', 'B_14_max': 'int16', 'D_59_mean': 'float64', 'D_59_std': 'float64', 'D_59_min': 'int16', 'D_59_max': 'int16', 'D_60_mean': 'float64', 'D_60_std': 'float64', 'D_60_min': 'int16', 'D_60_max': 'int16', 'D_61_mean': 'float64', 'D_61_std': 'float64', 'D_61_min': 'int16', 'D_61_max': 'int16', 'B_15_mean': 'float64', 'B_15_std': 'float64', 'B_15_min': 'int16', 'B_15_max': 'int16', 'S_11_mean': 'float64', 'S_11_std': 'float64', 'S_11_min': 'int16', 'S_11_max': 'int16', 'D_62_mean': 'float64', 'D_62_std': 'float64', 'D_62_min': 'int16', 'D_62_max': 'int16', 'D_65_mean': 'float64', 'D_65_std': 'float64', 'D_65_min': 'int16', 'D_65_max': 'int16', 'B_16_mean': 'float64', 'B_16_std': 'float64', 'B_16_min': 'int16', 'B_16_max': 'int16', 'B_17_mean': 'float64', 'B_17_std': 'float64', 'B_17_min': 'int16', 'B_17_max': 'int16', 'B_18_mean': 'float64', 'B_18_std': 'float64', 'B_18_min': 'int16', 'B_18_max': 'int16', 'B_19_mean': 'float64', 'B_19_std': 'float64', 'B_19_min': 'int16', 'B_19_max': 'int16', 'B_20_mean': 'float64', 'B_20_std': 'float64', 'B_20_min': 'int16', 'B_20_max': 'int16', 'S_12_mean': 'float64', 'S_12_std': 'float64', 'S_12_min': 'int16', 'S_12_max': 'int16', 'R_6_mean': 'float64', 'R_6_std': 'float64', 'R_6_min': 'int16', 'R_6_max': 'int16', 'S_13_mean': 'float64', 'S_13_std': 'float64', 'S_13_min': 'int16', 'S_13_max': 'int16', 'B_21_mean': 'float64', 'B_21_std': 'float64', 'B_21_min': 'int16', 'B_21_max': 'int16', 'D_69_mean': 'float64', 'D_69_std': 'float64', 'D_69_min': 'int16', 'D_69_max': 'int16', 'B_22_mean': 'float64', 'B_22_std': 'float64', 'B_22_min': 'int16', 'B_22_max': 'int16', 'D_70_mean': 'float64', 'D_70_std': 'float64', 'D_70_min': 'int16', 'D_70_max': 'int16', 'D_71_mean': 'float64', 'D_71_std': 'float64', 'D_71_min': 'int16', 'D_71_max': 'int16', 'D_72_mean': 'float64', 'D_72_std': 'float64', 'D_72_min': 'int16', 'D_72_max': 'int16', 'S_15_mean': 'float64', 'S_15_std': 'float64', 'S_15_min': 'int16', 'S_15_max': 'int16', 'B_23_mean': 'float64', 'B_23_std': 'float64', 'B_23_min': 'int16', 'B_23_max': 'int16', 'D_73_mean': 'float64', 'D_73_std': 'float64', 'D_73_min': 'int16', 'D_73_max': 'int16', 'P_4_mean': 'float64', 'P_4_std': 'float64', 'P_4_min': 'int16', 'P_4_max': 'int16', 'D_74_mean': 'float64', 'D_74_std': 'float64', 'D_74_min': 'int16', 'D_74_max': 'int16', 'D_75_mean': 'float64', 'D_75_std': 'float64', 'D_75_min': 'int16', 'D_75_max': 'int16', 'D_76_mean': 'float64', 'D_76_std': 'float64', 'D_76_min': 'int16', 'D_76_max': 'int16', 'B_24_mean': 'float64', 'B_24_std': 'float64', 'B_24_min': 'int16', 'B_24_max': 'int16', 'R_7_mean': 'float64', 'R_7_std': 'float64', 'R_7_min': 'int16', 'R_7_max': 'int16', 'D_77_mean': 'float64', 'D_77_std': 'float64', 'D_77_min': 'int16', 'D_77_max': 'int16', 'B_25_mean': 'float64', 'B_25_std': 'float64', 'B_25_min': 'int16', 'B_25_max': 'int16', 'B_26_mean': 'float64', 'B_26_std': 'float64', 'B_26_min': 'int16', 'B_26_max': 'int16', 'D_78_mean': 'float64', 'D_78_std': 'float64', 'D_78_min': 'int16', 'D_78_max': 'int16', 'D_79_mean': 'float64', 'D_79_std': 'float64', 'D_79_min': 'int16', 'D_79_max': 'int16', 'R_8_mean': 'float64', 'R_8_std': 'float64', 'R_8_min': 'int16', 'R_8_max': 'int16', 'R_9_mean': 'float64', 'R_9_std': 'float64', 'R_9_min': 'int16', 'R_9_max': 'int16', 'S_16_mean': 'float64', 'S_16_std': 'float64', 'S_16_min': 'int16', 'S_16_max': 'int16', 'D_80_mean': 'float64', 'D_80_std': 'float64', 'D_80_min': 'int16', 'D_80_max': 'int16', 'R_10_mean': 'float64', 'R_10_std': 'float64', 'R_10_min': 'int16', 'R_10_max': 'int16', 'R_11_mean': 'float64', 'R_11_std': 'float64', 'R_11_min': 'int16', 'R_11_max': 'int16', 'B_27_mean': 'float64', 'B_27_std': 'float64', 'B_27_min': 'int16', 'B_27_max': 'int16', 'D_81_mean': 'float64', 'D_81_std': 'float64', 'D_81_min': 'int16', 'D_81_max': 'int16', 'D_82_mean': 'float64', 'D_82_std': 'float64', 'D_82_min': 'int16', 'D_82_max': 'int16', 'S_17_mean': 'float64', 'S_17_std': 'float64', 'S_17_min': 'int16', 'S_17_max': 'int16', 'R_12_mean': 'float64', 'R_12_std': 'float64', 'R_12_min': 'int16', 'R_12_max': 'int16', 'B_28_mean': 'float64', 'B_28_std': 'float64', 'B_28_min': 'int16', 'B_28_max': 'int16', 'R_13_mean': 'float64', 'R_13_std': 'float64', 'R_13_min': 'int16', 'R_13_max': 'int16', 'D_83_mean': 'float64', 'D_83_std': 'float64', 'D_83_min': 'int16', 'D_83_max': 'int16', 'R_14_mean': 'float64', 'R_14_std': 'float64', 'R_14_min': 'int16', 'R_14_max': 'int16', 'R_15_mean': 'float64', 'R_15_std': 'float64', 'R_15_min': 'int16', 'R_15_max': 'int16', 'D_84_mean': 'float64', 'D_84_std': 'float64', 'D_84_min': 'int16', 'D_84_max': 'int16', 'R_16_mean': 'float64', 'R_16_std': 'float64', 'R_16_min': 'int16', 'R_16_max': 'int16', 'B_29_mean': 'float64', 'B_29_std': 'float64', 'B_29_min': 'int16', 'B_29_max': 'int16', 'S_18_mean': 'float64', 'S_18_std': 'float64', 'S_18_min': 'int16', 'S_18_max': 'int16', 'D_86_mean': 'float64', 'D_86_std': 'float64', 'D_86_min': 'int16', 'D_86_max': 'int16', 'D_87_mean': 'float64', 'D_87_std': 'float64', 'D_87_min': 'int16', 'D_87_max': 'int16', 'R_17_mean': 'float64', 'R_17_std': 'float64', 'R_17_min': 'int16', 'R_17_max': 'int16', 'R_18_mean': 'float64', 'R_18_std': 'float64', 'R_18_min': 'int16', 'R_18_max': 'int16', 'D_88_mean': 'float64', 'D_88_std': 'float64', 'D_88_min': 'int16', 'D_88_max': 'int16', 'B_31_mean': 'float64', 'B_31_std': 'float64', 'B_31_min': 'int16', 'B_31_max': 'int16', 'S_19_mean': 'float64', 'S_19_std': 'float64', 'S_19_min': 'int16', 'S_19_max': 'int16', 'R_19_mean': 'float64', 'R_19_std': 'float64', 'R_19_min': 'int16', 'R_19_max': 'int16', 'B_32_mean': 'float64', 'B_32_std': 'float64', 'B_32_min': 'int16', 'B_32_max': 'int16', 'S_20_mean': 'float64', 'S_20_std': 'float64', 'S_20_min': 'int16', 'S_20_max': 'int16', 'R_20_mean': 'float64', 'R_20_std': 'float64', 'R_20_min': 'int16', 'R_20_max': 'int16', 'R_21_mean': 'float64', 'R_21_std': 'float64', 'R_21_min': 'int16', 'R_21_max': 'int16', 'B_33_mean': 'float64', 'B_33_std': 'float64', 'B_33_min': 'int16', 'B_33_max': 'int16', 'D_89_mean': 'float64', 'D_89_std': 'float64', 'D_89_min': 'int16', 'D_89_max': 'int16', 'R_22_mean': 'float64', 'R_22_std': 'float64', 'R_22_min': 'int16', 'R_22_max': 'int16', 'R_23_mean': 'float64', 'R_23_std': 'float64', 'R_23_min': 'int16', 'R_23_max': 'int16', 'D_91_mean': 'float64', 'D_91_std': 'float64', 'D_91_min': 'int16', 'D_91_max': 'int16', 'D_92_mean': 'float64', 'D_92_std': 'float64', 'D_92_min': 'int16', 'D_92_max': 'int16', 'D_93_mean': 'float64', 'D_93_std': 'float64', 'D_93_min': 'int16', 'D_93_max': 'int16', 'D_94_mean': 'float64', 'D_94_std': 'float64', 'D_94_min': 'int16', 'D_94_max': 'int16', 'R_24_mean': 'float64', 'R_24_std': 'float64', 'R_24_min': 'int16', 'R_24_max': 'int16', 'R_25_mean': 'float64', 'R_25_std': 'float64', 'R_25_min': 'int16', 'R_25_max': 'int16', 'D_96_mean': 'float64', 'D_96_std': 'float64', 'D_96_min': 'int16', 'D_96_max': 'int16', 'S_22_mean': 'float64', 'S_22_std': 'float64', 'S_22_min': 'int16', 'S_22_max': 'int16', 'S_23_mean': 'float64', 'S_23_std': 'float64', 'S_23_min': 'int16', 'S_23_max': 'int16', 'S_24_mean': 'float64', 'S_24_std': 'float64', 'S_24_min': 'int16', 'S_24_max': 'int16', 'S_25_mean': 'float64', 'S_25_std': 'float64', 'S_25_min': 'int16', 'S_25_max': 'int16', 'S_26_mean': 'float64', 'S_26_std': 'float64', 'S_26_min': 'int16', 'S_26_max': 'int16', 'D_102_mean': 'float64', 'D_102_std': 'float64', 'D_102_min': 'int16', 'D_102_max': 'int16', 'D_103_mean': 'float64', 'D_103_std': 'float64', 'D_103_min': 'int16', 'D_103_max': 'int16', 'D_104_mean': 'float64', 'D_104_std': 'float64', 'D_104_min': 'int16', 'D_104_max': 'int16', 'D_105_mean': 'float64', 'D_105_std': 'float64', 'D_105_min': 'int16', 'D_105_max': 'int16', 'D_106_mean': 'float64', 'D_106_std': 'float64', 'D_106_min': 'int16', 'D_106_max': 'int16', 'D_107_mean': 'float64', 'D_107_std': 'float64', 'D_107_min': 'int16', 'D_107_max': 'int16', 'B_36_mean': 'float64', 'B_36_std': 'float64', 'B_36_min': 'int16', 'B_36_max': 'int16', 'B_37_mean': 'float64', 'B_37_std': 'float64', 'B_37_min': 'int16', 'B_37_max': 'int16', 'R_26_mean': 'float64', 'R_26_std': 'float64', 'R_26_min': 'int16', 'R_26_max': 'int16', 'R_27_mean': 'float64', 'R_27_std': 'float64', 'R_27_min': 'int16', 'R_27_max': 'int16', 'D_108_mean': 'float64', 'D_108_std': 'float64', 'D_108_min': 'int16', 'D_108_max': 'int16', 'D_109_mean': 'float64', 'D_109_std': 'float64', 'D_109_min': 'int16', 'D_109_max': 'int16', 'D_110_mean': 'float64', 'D_110_std': 'float64', 'D_110_min': 'int16', 'D_110_max': 'int16', 'D_111_mean': 'float64', 'D_111_std': 'float64', 'D_111_min': 'int16', 'D_111_max': 'int16', 'B_39_mean': 'float64', 'B_39_std': 'float64', 'B_39_min': 'int16', 'B_39_max': 'int16', 'D_112_mean': 'float64', 'D_112_std': 'float64', 'D_112_min': 'int16', 'D_112_max': 'int16', 'B_40_mean': 'float64', 'B_40_std': 'float64', 'B_40_min': 'int16', 'B_40_max': 'int16', 'S_27_mean': 'float64', 'S_27_std': 'float64', 'S_27_min': 'int16', 'S_27_max': 'int16', 'D_113_mean': 'float64', 'D_113_std': 'float64', 'D_113_min': 'int16', 'D_113_max': 'int16', 'D_115_mean': 'float64', 'D_115_std': 'float64', 'D_115_min': 'int16', 'D_115_max': 'int16', 'D_118_mean': 'float64', 'D_118_std': 'float64', 'D_118_min': 'int16', 'D_118_max': 'int16', 'D_119_mean': 'float64', 'D_119_std': 'float64', 'D_119_min': 'int16', 'D_119_max': 'int16', 'D_121_mean': 'float64', 'D_121_std': 'float64', 'D_121_min': 'int16', 'D_121_max': 'int16', 'D_122_mean': 'float64', 'D_122_std': 'float64', 'D_122_min': 'int16', 'D_122_max': 'int16', 'D_123_mean': 'float64', 'D_123_std': 'float64', 'D_123_min': 'int16', 'D_123_max': 'int16', 'D_124_mean': 'float64', 'D_124_std': 'float64', 'D_124_min': 'int16', 'D_124_max': 'int16', 'D_125_mean': 'float64', 'D_125_std': 'float64', 'D_125_min': 'int16', 'D_125_max': 'int16', 'D_127_mean': 'float64', 'D_127_std': 'float64', 'D_127_min': 'int16', 'D_127_max': 'int16', 'D_128_mean': 'float64', 'D_128_std': 'float64', 'D_128_min': 'int16', 'D_128_max': 'int16', 'D_129_mean': 'float64', 'D_129_std': 'float64', 'D_129_min': 'int16', 'D_129_max': 'int16', 'B_41_mean': 'float64', 'B_41_std': 'float64', 'B_41_min': 'int16', 'B_41_max': 'int16', 'B_42_mean': 'float64', 'B_42_std': 'float64', 'B_42_min': 'int16', 'B_42_max': 'int16', 'D_130_mean': 'float64', 'D_130_std': 'float64', 'D_130_min': 'int16', 'D_130_max': 'int16', 'D_131_mean': 'float64', 'D_131_std': 'float64', 'D_131_min': 'int16', 'D_131_max': 'int16', 'D_132_mean': 'float64', 'D_132_std': 'float64', 'D_132_min': 'int16', 'D_132_max': 'int16', 'D_133_mean': 'float64', 'D_133_std': 'float64', 'D_133_min': 'int16', 'D_133_max': 'int16', 'R_28_mean': 'float64', 'R_28_std': 'float64', 'R_28_min': 'int16', 'R_28_max': 'int16', 'D_134_mean': 'float64', 'D_134_std': 'float64', 'D_134_min': 'int16', 'D_134_max': 'int16', 'D_135_mean': 'float64', 'D_135_std': 'float64', 'D_135_min': 'int16', 'D_135_max': 'int16', 'D_136_mean': 'float64', 'D_136_std': 'float64', 'D_136_min': 'int16', 'D_136_max': 'int16', 'D_137_mean': 'float64', 'D_137_std': 'float64', 'D_137_min': 'int16', 'D_137_max': 'int16', 'D_138_mean': 'float64', 'D_138_std': 'float64', 'D_138_min': 'int16', 'D_138_max': 'int16', 'D_139_mean': 'float64', 'D_139_std': 'float64', 'D_139_min': 'int16', 'D_139_max': 'int16', 'D_140_mean': 'float64', 'D_140_std': 'float64', 'D_140_min': 'int16', 'D_140_max': 'int16', 'D_141_mean': 'float64', 'D_141_std': 'float64', 'D_141_min': 'int16', 'D_141_max': 'int16', 'D_142_mean': 'float64', 'D_142_std': 'float64', 'D_142_min': 'int16', 'D_142_max': 'int16', 'D_143_mean': 'float64', 'D_143_std': 'float64', 'D_143_min': 'int16', 'D_143_max': 'int16', 'D_144_mean': 'float64', 'D_144_std': 'float64', 'D_144_min': 'int16', 'D_144_max': 'int16', 'D_145_mean': 'float64', 'D_145_std': 'float64', 'D_145_min': 'int16', 'D_145_max': 'int16', 'target': 'int64'}

In [14]:
merged_df.sample(10)

,customer_ID,P_2_mean,P_2_std,P_2_min,P_2_max,D_39_mean,D_39_std,D_39_min,D_39_max,B_1_mean,...,D_143_max,D_144_mean,D_144_std,D_144_min,D_144_max,D_145_mean,D_145_std,D_145_min,D_145_max,target
348310,1109861715,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
176404,-495211633,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
322488,870435473,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,1,0.0,0.0,0,0,0.0,0.0,0,0,1
36682,-1801874012,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
73867,-1453949332,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
363686,1254173834,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
200887,-265202392,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
378620,1392992488,0.0,0.0,0,0,0.076923,0.27735,0,1,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,0
126208,-965990314,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,0,0.0,0.0,0,0,0.0,0.0,0,0,1
208330,-195484119,0.0,0.0,0,0,0.000000,0.00000,0,0,0.0,...,1,0.0,0.0,0,0,0.0,0.0,0,0,1

In [33]:
condensed_train_data = pd.read_csv("E:/COLUMBIA MS/FALL 2023/AML - Vijay Pappu/AML PROJECT/condensed_train_data.csv", dtype = data_types)

MemoryError: Unable to allocate 1.21 GiB for an array with shape (354, 458913) and data type float64

In [ ]:
condensed_train_data.sample(5)